.menu {
  display: flex;
  align-items: center;

  &--active {
    .menu__btn {
      span {
        display: none;
      }

      &::before {
        top: 19px;
        transform: rotate(45deg);
      }

      &::after {
        bottom: 19px;
        transform: rotate(-45deg);
      }
    }

    .menu__list {
      right: 0;
    }
  }

  &__list {
    display: flex;

    @include _991 {
      display: block;
      position: fixed;
      top: 0;
      right: -400px;
      max-width: 300px;
      width: 100%;
      height: 100%;
      padding: 110px 40px;
      background-color: #13382a;
      color: #fff;
      overflow: auto;
      transition: 0.4s;
      z-index: 99;
    }
  }

  &__item:not(:last-child) {
    margin-right: 65px;

    @include _991 {
      margin: 0 0 70px;
    }
  }

  &__link {
    color: #fff;
    transition: color 0.3s;

    @include _991 {
      font-size: 26px;
    }

    &:hover {
      color: $accent;
    }
  }

  &__btn {
    display: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: transparent;
    position: relative;
    z-index: 5;

    @include _991 {
      display: block;
      z-index: 101;
    }

    span {
      position: absolute;
      left: 7px;
      right: 0;
      height: 2px;
      background-color: #fff;
      transition: 0.3s;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #fff;
      transition: 0.3s;
    }

    &::before {
      top: 7px;
    }

    &::after {
      bottom: 7px;
    }
  }
}