.place-card {
  max-width: 370px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 30px 50px 0 #0000001a;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 30px 50px 0 #00000031;
  }

  @include _991 {
    max-width: 350px;
  }

  &__link {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
  }

  &__img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &__inner {
    padding: 10px 10px 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: auto;
  }

  &__title {
    font-size: 20px;
    line-height: 1.3;
    @include line-clamp(2);
    margin-bottom: 5px;

    @include _575 {
      font-size: 20px;
    }
  }

  &__location {
    margin-top: auto;
    display: block;
    font-size: 14px;
    @include line-clamp(2);
    margin-bottom: 5px;
  }

  &__distance {
    display: inline-block;
    align-self: center;
    line-height: 25px;
    padding-left: 35px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      background-image: url('../images/decor/distance.svg');
      background-size: contain;
    }
  }
}